.card {
    transition: 1s;
    cursor: pointer;
    width: 100%;
    position: relative;
}

.card:hover {
    transform: scale(1.1);
}

.card img {
    width: 100%;
    opacity: 0.8;
}

.card p {
    position: absolute;
    font-size: 1.5rem;
    color: #fff;
    font-weight: bold;
    bottom: 0;
    left: 10;
    padding: 0.2rem;
    transition: 0.25s;
}

.card p:hover {
    color: #39A0FF;
}

@media (max-width: 768px) {
    .card:hover {
        transform: none;
    }

    .card p {
        font-size: 1.2rem; 
        bottom: 5px;
    }
}