.generos {
    background-color: #2C2C34;
    padding: 1rem 5rem;
    color: white;
}

.lista-generos {
    width: 50vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.genero-button {
    background-color: #39A0FF;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.genero-button:hover {
    background-color: #1E90FF;
}

@media (max-width: 768px) {
    .generos {
        padding: 1rem; 
    }

    .lista-generos {
        width: 100%; 
        grid-template-columns: repeat(2, 1fr); 
    }

    .genero-button {
        font-size: 0.9rem; 
        margin: 0.2rem;
    }
}