header {
        background-color: #0A0A10;
        padding: 1rem 5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        width: 20%;
        cursor: pointer;
    }

    .container-icons {
        display: flex;
        gap: 3rem;
    }

    .icons {
        color: #fff;
        font-size: 2rem;
        cursor: pointer;
        transition: hover;
    }

    .icons:hover {
        color: #39A0FF;
    }
    footer {
    background-color: #0A0A10;
    color: #fff;
    padding: 2rem 10rem;
    text-align: center;
    font-size: 1.3rem;
}

img {
    max-width: 100%;
    height: auto;    
}

body, html {
    overflow-x: hidden;
}