.banner-wrapper {
    position: relative;
    width: 100vw;
    height: 85vh;
    display: flex;
    justify-content: center;
    background-color: #0A0A10;
    padding: 2rem;
}
.background-image {
    mask-image: radial-gradient(ellipse at center, black 40%, transparent 100%);
    width: 60%;
    height: 80%;
    object-fit: cover;
    opacity: 0.9;
}

.fade-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent 40%, #0A0A10 100%);
}

.specific-container {
    margin-top: -150px;
    position: relative;
    z-index: 2;
    background: transparent;
    width: 100%;
    padding: 0 10rem;
    background-color: #0A0A10;
    padding-top: 5rem;
    color: #fff;
}

.card-content {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    gap: 5rem;
}

.card-info-title {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.info-options {
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.info-selection {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.grid-info-select {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.language-spoken {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    flex-wrap: wrap;
}

.people {
    background-color: #283038;
    color: #9ab;
    border-radius: 8px;
    padding: 0.5rem;
    width: fit-content;
    cursor: pointer;
}

.people:hover {
    color: #fff;
}

.middle-content {
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.grid-genre-select {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1.5rem;
    width: 50%;
    gap: 1rem;
}